
src/GradeBook/obj/GradeBook.csproj.nuget.dgspec.json
src/GradeBook/obj/GradeBook.csproj.nuget.g.props
src/GradeBook/obj/GradeBook.csproj.nuget.g.targets
src/GradeBook/obj/project.assets.json
src/GradeBook/obj/project.nuget.cache
src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.deps.json
src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.dll
src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.exe
src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.pdb
src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.runtimeconfig.dev.json
src/GradeBook/bin/Debug/netcoreapp3.1/GradeBook.runtimeconfig.json
src/GradeBook/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.AssemblyInfo.cs
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.AssemblyInfoInputs.cache
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.assets.cache
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.csproj.CoreCompileInputs.cache
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.csproj.FileListAbsolute.txt
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.csprojAssemblyReference.cache
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.dll
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.exe
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.genruntimeconfig.cache
src/GradeBook/obj/Debug/netcoreapp3.1/GradeBook.pdb
.vscode/launch.json
.vscode/tasks.json
